
.audiowide {
  font-family: "Audiowide", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600 !important;
  font-style: normal;
}


body{
    background-color: #e7e7e3 !important;


}

.crop{
       object-fit: cover;       
    object-position: center; 
}
.svg-cart{
    width: 32px;
    height: 32px;
}

.bg-cream{
    background-color: #fafafa !important;
}
.radius-16 {
  border-radius: 16px;
}
.bg-theme{
    background-color: #54412e !important;
    color: white;
}
.carousel .crop {
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.heroRounded {
    border-radius: 24px !important; 
}


.bannerText {
    text-align: start !important;
    bottom: 20px !important;
    left: 5% !important;
    right: 5% !important;
    padding-bottom: 0 !important;
}

.bannerText h1 {
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-size: 28px; 
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 5px;
}

.bannerText p {
    font-size: 14px; 
    color: #E7E7E3;
    margin-bottom: 15px;
        text-shadow: 1px 1px 1px #000;
}

.bannerText button {
    width: 120px;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px !important;
                background-color: #c0b4a6;
    color: #54412e;
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    
   
}


.carousel-control-prev.custom,
.carousel-control-next.custom {
    bottom: 20px !important; 
    top: auto !important; 
    opacity: 1 !important;    
    width: auto !important;   
}


.carousel-control-prev.custom {
    left: auto !important;
    right: 70px !important;
}
.carousel-control-next.custom {
    right: 20px !important;
}


.custom .carousel-control-next-icon, 
.custom .carousel-control-prev-icon {
    background-color: #000000 !important;
    background-size: 50% 50% !important; 
    padding: 18px !important;         
    border-radius: 50% !important;       
}



@media (min-width: 769px) {
    .carousel .crop {
        height: 750px;
    }

    .heroRounded {
        border-radius: 64px !important;
    }

    .bannerText {
        bottom: 40px !important;
    }

    .bannerText h1 {
        font-size: 64px; 
        margin-bottom: 15px;
    }

    .bannerText p {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .bannerText button {
        width: 130px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
}


    .carousel-control-prev.custom {
        left: auto !important;
        right: 120px !important;
        bottom: 40px !important;
    }
    
    .carousel-control-next.custom {
        right: 60px !important;
        bottom: 40px !important;
    }

    .custom .carousel-control-next-icon, 
    .custom .carousel-control-prev-icon {
        padding: 24px !important; 
    }


    .bannerImg {
        right: 5% !important;
        bottom: auto !important;
        top: 10% !important;
        left: auto !important;

    }

    .bannerImg img {
        width: 160px;
        height: 160px;
        border-radius: 16px;
        border: 2px solid #e7e7e3;
        object-fit: cover;
    }
}

.mainCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.mainCard .card{
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    width:300px !important;
    position: relative;
    height: 350px !important ;
    border-radius:16px;
    border: none;
}

.mainCard img{
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainCard h2{
    position: absolute;
    bottom: 70px;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    font-family: "Space Grotesk", sans-serif;
    margin-inline: 30px;
}

.mainCard button{
    position: absolute;
    bottom: 20px;
    margin-inline: 30px;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
  background-color: #825f3b;
    color: #fff;
    font-size: 10Px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mainCard .card:last-child h2{
    top: 60%;
    right: 20%;
    left: auto;
}

.mainCard .card:last-child button{
    top: 68%;
    right: 25%;
    width: auto;
    background-color: #fff;
    color: #000;
    font-size: 10px;
    font-weight:900;
    height: 30px;
}


.newCollection{
    margin: 70px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    max-width: 105rem;
    width: 100%;
    
    flex-direction: column;
}
.newCollection h1{
       font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
text-align: center;
    font-size: 40px;
}
.newCollection>p{
    text-align: center;
        font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
}
.colCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
  
}

.newCollection .imgWrapper{
    width: 300px;
    border: 4px solid white;
  
    height: 300px;
    background-color: #eceef0;
    border-radius: 16px;
    position: relative;
}

.newCollection .imgWrapper span{
    position: absolute;
    background-color: #dcd1c1 !important;
    color: #624f3f !important;
    top: 5px;
    right: 5px;
}
.newCollection .card{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
    background: transparent;
}

.card-body{
    padding: 0 !important;

    margin-top: 15px;
}

.card-body p:first-child{
      font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
    font-size: 32px;
    color: #2c2019;
}
.card-body h5{
    color: #645748;
    font-size: 18px;
    margin-top: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}

.card-body p{
    color: #8f8a7b;
    font-size: 12px;
    font-weight: 600;
        font-family: "DM Sans", sans-serif;

}
.card-body .cardBtns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
}
.card-body .cardBtns a{
    border-radius: 10px;
   padding: 8px 24px;
   text-transform: capitalize;
   font-size: 12px !important;
   font-weight: 700;
    font-family: "DM Sans", sans-serif;
   flex: 1;
}

.card-body .cardBtns a:last-child{
    background-color: #825f3b;
    color: #fff;
    border: none;
}
.card-body .cardBtns a:first-child{
    background-color: #c0b4a6;
    color: #54412e;
    border: none;
}


.bodyBanner{
    max-width: 96rem;
    position: relative;
    margin: 50px auto;
      max-height: 400px;
      padding: 20px;
    
}
.bodyBanner div{
    position: absolute;
      top: 30%;
    left: 0px;
    text-align: center;
    width: 100%;
}
.bodyBanner h1{
    color: white;
           font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
text-align: center;
max-width: 80%;
  text-shadow: 1px 1px 1px #000;
margin: 0 auto;
    font-size: 20px;
    text-transform: capitalize;
    

}

.bodyBanner button{
  
 
    height:30px;
    padding: 4px 17px;
    font-size: 12px !important;
                background-color: #c0b4a6;
    color:#2c2019;
    font-weight: 700;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    
   

}
.bodyBanner button:hover{
    transform: scale(1.1);
}
.bodyBanner img{
    width: 100%;
      border-radius: 24px;
      background-position: center;
    max-height:400px;
    object-fit: cover;
}



.category {
    overflow-x: auto;
    width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none; 
    -webkit-overflow-scrolling: touch;
}


.category::-webkit-scrollbar {
    display: none;
}

.category .card {
    width: 150px;
    height: 140px;
    border: 1px solid #EBEBEE;
    flex-shrink: 0;
       border-top-right-radius: 24px !important;
       box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
       border-bottom-left-radius: 24px !important;
}

.category .card:hover img {
    transform: rotate(-15deg);
}

.category .card img {
    width: inherit;
    transition: all 0.2s ease-in;
    height: inherit;
    object-fit: cover;
 
}


.moreBtn {
    color: #63513a;
    background-color: #e8e0d7;
    padding: 14px 24px;
    border-radius: 16px;
font-weight: 700;


    font-size: 16px;
     border: 2px solid #cbbcb1;
text-align: center;

}
@media (min-width: 992px) {
    .category {
        justify-content: center; 
    }
}
@media (min-width: 769px) {
    .mainCard .card{
        box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
        width:450px !important;
        position: relative;
        height: 600px !important ;
        border-radius:16px;
        border: none;
    }

    .mainCard img{
        border-radius: 16px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mainCard h2{
        position: absolute;
        bottom: 70px;
        text-shadow: 1px 1px 1px #000;
        color: #fff;
        font-weight: 700;
        text-transform: capitalize;
        font-family: "Space Grotesk", sans-serif;
        margin-inline: 30px;
        font-size: 32px;
    }

    .mainCard button{
        position: absolute;
        bottom: 20px;
        margin-inline: 30px;
        padding: 8px 16px;
        border-radius: 8px;
        border: none;
        background-color: #825f3b;
    color: #fff;
        font-size: 14px;
        font-weight: 600;
        font-family: "DM Sans", sans-serif;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .mainCard .card:last-child h2{
        top: 60%;
        right: 20%;
        left: auto;
    }

    .mainCard .card:last-child button{
        top: 68%;
        right: 28%;
        width: auto;
        background-color: #fff;
        color: #000;
        font-size: 16px;
        font-weight:900;
        height: 50px;
    }
    .newCollection h1{
       font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
text-align: center;
    font-size: 64px;
}
.newCollection>p{
    text-align: center;
        font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    width: 100%;
}

.bodyBanner div{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}
.bodyBanner h1{
  
           
   


    font-size: 40px;

}
.bodyBanner button{
  font-size: 16px !important;
  border-radius: 16px !important;
 
    height: 44px;
    padding: 8px 34px;}
}










.bottomCards .card.fullCard{ max-width: 500px; max-height: 700px;}
.bottomCards .card.fullCard img{ max-width: 500px; max-height: 700px;}


.bottomCards .card{ max-width: 100%; max-height: 350px;}
.bottomCards .card img{ max-width: 100%; max-height: 350px;}
